#app {
  margin: auto;
  text-align: center;
  color: rgb(68, 66, 66);
}

a:link {
  max-width: 600px;
  display: block;
  background-color: rgb(200, 200, 200);
  color: rgb(68, 66, 66);
  text-decoration: none;
  margin-bottom: 1px;
}

a:visited {
  text-decoration: none;
  color: rgb(68, 66, 66);
  text-decoration: none;
}

a:hover {
  color: #fff;
  background-color: rgb(68, 66, 66);
  text-decoration: none;
  outline: 2px solid #f4202c;
}

h1,
h2,
summary {
  color: #fff;
}

h2:first-letter {
  text-transform: capitalize;
}

.navContainer,
.category {
  background-color: rgb(68, 66, 66);
  margin: auto;
  max-width: 600px;
  border-radius: 2em;
  padding: 1em 0 2em;
  margin-bottom: 1em;
}

.informasjon,
.studier,
.metoder {
  margin: 1em 1em 1em 1em;
  padding: 0.5em;
  background-color: rgb(200, 200, 200);
  border-radius: 1em;
}

.dbNav {
  margin: auto;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

summary {
  font-size: 1.5rem;
  padding: 1rem;
  cursor: pointer;
}

@keyframes open {
  0% {
    transform: 0%;
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: 100%;
  }
}

details[open] summary ~ * {
  animation: open 0.5s ease-in-out;
}
