#app {
  margin: auto;
  text-align: center;
  color: rgb(68, 66, 66);
}

a:link {
  max-width: 600px;
  display: block;
  background-color: rgb(200, 200, 200);
  color: rgb(68, 66, 66);
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: rgb(68, 66, 66);
  text-decoration: none;
}

a:hover {
  color: #fff;
  background-color: rgb(68, 66, 66);
  text-decoration: none;
  outline: 2px solid #f4202c;
}

h1 {
  color: #fff;
}

.category {
  background-color: rgb(68, 66, 66);
  width: 80vw;
  max-width: 600px;
  margin: 0 auto 2em;
  border-radius: 5vw;
  padding: 1em 0 1em 0;
}

.studyInfo {
  max-width: 95%;
  margin: 1em 1em 1em 1em;
  padding: 0.5em;
  background-color: rgb(200, 200, 200);
  border-radius: 1em;
}

.dbNav {
  margin: auto;
  display: flex;
  justify-content: center;
  text-decoration: none;

}

.navContainer {
  background-color: rgb(68, 66, 66);
  margin: auto;
  max-width: 600px;
  width: 80vw;
  border-radius: 2em;
  padding: 1em 0 2em;
  box-sizing: border-box;
  margin-bottom: 1em;
}
